/*
    2018

*/


#main{
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
}

a.btn-ec{
    margin-top: 8px;
}

h6.h-ec{
    margin-bottom: 1em;
}

img.img-ec{
    margin-right: 1em;
}